<!--begin::section-->
<section class="user-info mb-1">

    <!--begin::User Name-->
    <div class="caption">
        <div class="title">Hello </div>
        <div class="name">@ViewBag.UserFullName</div>
    </div>
    <!--end::User Name-->
</section>
<!--end::section-->
<!--begin::nav-->
<nav class="user-sidebar">
    <!--begin::ul-->
    <ul>
        <!--begin::Li-->
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "UserEditProfile" ? "active" : "")">
            <a href="@Url.Action("UserEditProfile", "User")">
                <div class="icon">
                    <i class="material-icons">person</i>
                </div>
                <span>User Information</span>
            </a>
        </li>
        <!--end::Li-->
        <!--begin::Li-->
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "UserChangePassword" ? "active" : "")">
            <a href="@Url.Action("UserChangePassword", "User")">
                <div class="icon">
                    <i class="material-icons">lock</i>
                </div>
                <span>Change Password</span>
            </a>
        </li>
        <!--end::Li-->
        <!--begin::Li-->
        <li>
            <a href="#">
                <div class="icon">
                    <i class="material-icons">assignment</i>
                </div>
                <span>Order Management</span>
            </a>
        </li>
        <!--end::Li-->
        <!--begin::Li-->
    </ul>
    <!--end::ul-->
</nav>
<!--end::nav-->
